.git
.gitignore
.DS_Store
node_modules
__pycache__
*.pyc
.pytest_cache
.venv
venv
*.egg-info
dist
build
.env
.env.local
README.md
.github
.editorconfig
.prettierrc
.eslintrc
package-lock.json
yarn.lock
pnpm-lock.yaml